 body{
    margin: 0px;
  }

  html{
    background-image: -webkit-linear-gradient(#FFF 60%, #444);
    background-image: -moz-linear-gradient(#FFF 60%, #444);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #FFF), color-stop(100%, #444)); 
    overflow-x: hidden;
  }

  .card {
    width: 28%;
    margin: 0% -10.8%;
    float: left;
    background-image: -webkit-linear-gradient(#DDD 60%, rgba(55,55,55,0) 93%);
    background-image: -moz-linear-gradient(#DDD 60%,  rgba(55,55,55,0) 93%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #DDD), color-stop(93%, rgba(55,55,55,0))); 
    display: block;
    border-radius: 10px;
    -webkit-transform: rotateY( 120deg);
    -moz-transform: skew(0deg,-35deg) scale(0.70);
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    text-align: center;
    text-decoration: none;
  }
  
  .card img{
    margin: auto;
    width: 100%;
    border-radius: 10px;
    opacity: 0.2;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    image-rendering: -moz-crisp-edges;
  }
  
  .card:target{
    -webkit-transform: rotateY( 0deg);
    -moz-transform: skew(0deg,0deg) scale(1);
    margin: 0 5%;
    z-index: 90;
  }

  .card span{
    display:none;
    color: #eee;
    line-height: 2;
    font-size: 1.4em;
    font-family: 'IM Fell English SC', serif;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -1px;
  }
  
  .card:active{
    overflow: hidden;
  }

  .card:target img{
    opacity: 1;
    image-rendering: optimizeQuality;
  }
  
  .card:target span{
    opacity: 1;
    display: inline;
  }

  .card:target ~ .card{
    -moz-transform: skew(0deg,20deg) scale(0.70);
  }

  .card:target + .card{
    z-index: 10;
  }

  .card:target + .card + .card{
    z-index: 9;
  }

  .card:target + .card + .card + .card {
    z-index: 8;
  }

  .card:target + .card + .card + .card + .card{
    z-index: 7;
  }

  .card:target + .card + .card + .card + .card + .card{
    z-index: 6;
  }

  .card:target + .card + .card + .card + .card + .card + .card{
    z-index: 5;
  }

  .card:target + .card + .card + .card + .card + .card + .card + .card{
    z-index: 4;
  }

  .card:target + .card + .card + .card + .card + .card + .card + .card + .card{
    z-index: 3;
  }

  .card:target + .card + .card + .card + .card + .card + .card + .card + .card + .card{
    z-index: 2;
  }

  .card:target + .card + .card + .card + .card + .card + .card + .card + .card + .card + .card{
    z-index: 1;
  }

  .button{
    height: 16px;
    width: 16px;
    border-radius: 8px;
    margin: 10px 3px;
    float: left;
    display: block;
    background: white;
    -webkit-box-shadow: inset 2px 2px 2px  #999, inset -1px -1px 1px  #999; 
    box-shadow: inset 2px 2px 2px  #999, inset -1px -1px 1px  #999;
  }

  .button:hover{
    background: #DDD;
  }

  .margin{
    height: 5%;
    width: 100%;
  }
  
  #container{
    margin: 0 auto;
    width: 100%;
    height: 90%;
    max-width: 1024px;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 900; /* For compatibility with iPhone 3.0, we leave off the units here */
    -webkit-perspective-origin: 100% 30%;

  }
  
  #buttons{
    width: 220px;
    position: absolute;
    z-index: 999;
    bottom: 3px;
    left: 50%;
    margin-left: -110px;
  }
  
  #ack{
    position: absolute;
    bottom: 15px;
    left: 10px;
  }
  
  #ack, #ack *{
    font-size: 11px;
    font-family: verdana, sans-serif;
    color: #fff;
  }
  
  #social{
    position: absolute;
    bottom: 5px;
    right: 10px;
  }
  
  