form {
	background: none repeat scroll 0 0 #9CBC2C;
	border-radius: 5px 5px 5px 5px;
	counter-reset: fieldsets;
	padding: 20px;
	width: 400px;
}

form fieldset {
	border: medium none;
	margin-bottom: 10px;
}

form fieldset:last-of-type {
	margin-bottom: 0;
}

form legend {
	color: #384313;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	text-shadow: 0 1px 1px #C0D576;
}

form>fieldset>legend:before {
	content: "Step " counter(fieldsets, decimal) ": ";
	counter-increment: fieldsets;
}

form fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}

form ol li {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
	border-color: rgba(255, 255, 255, 0.6);
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 2px;
	line-height: 30px;
	list-style: none outside none;
	margin-bottom: 2px;
	padding: 5px 10px;
}

form ol ol li {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	float: left;
}

form label {
	float: left;
	font-size: 13px;
	width: 110px;
}

form fieldset fieldset label {
	background: none no-repeat scroll left 50% transparent;
	line-height: 20px;
	padding: 0 0 0 30px;
	width: auto;
}

form label[for="visa"] {
	background-image: url("visa.gif");
}

form label[for="amex"] {
	background-image: url("amex.gif");
}

form label[for="mastercard"] {
	background-image: url("mastercard.gif");
}

form fieldset fieldset label:hover {
	cursor: pointer;
}

form input:not ([type="radio"] ),form textarea {
	background: none repeat scroll 0 0 #FFFFFF;
	border: medium none;
	border-radius: 3px 3px 3px 3px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	outline: medium none;
	padding: 5px;
	width: 200px;
}

form input:focus:not ([type="submit"] ),form textarea:focus {
	background: none repeat scroll 0 0 #EAEAEA;
}

form input[type="radio"] {
	float: left;
	margin-right: 5px;
}

form button {
	background: none repeat scroll 0 0 #384313;
	border: medium none;
	border-radius: 20px 20px 20px 20px;
	color: #FFFFFF;
	display: block;
	font: 18px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}

form button:hover {
	background: none repeat scroll 0 0 #1E2506;
	cursor: pointer;
}