html,body {
	margin: 0;
	padding: 0;
}

footer ul li,
nav ul li {
	display: inline;
}

.error {
	color: red;
}

body {
	background: none repeat scroll 0 0 #FFFFFF;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}

h1 {
	font-size: 28px;
	margin-bottom: 20px;
}