/* JQuery UI Fix */

.ui-extra-icon {

	float: right;
	width: 16px;
	height: 16px;
}

.ui-menu {
	width: 150px;
}

.settings {
	float: right;
	position: relative;
	right: 14px;
	top: -70px;
}

/* JQuery Mobile Fix */
.ui-fullsize, .ui-fullsize .ui-btn-inner {
	font-size: 12px !important;
}

form div.ui-select {
	display: block;
	left: 217px;
	position: relative;
	top: -38px;
	width: 30%;
	z-index: 100;
}

form div.ui-slider:after {
	clear: none;
}

div .ui-icon, div .ui-icon-searchfield:after {
	background-color: transparent;
}

/* MAIN */
body {
	font-size: 12px;
	font-family: Helvetica, Arial, sans-serif;
}

.ui-body-c, .ui-overlay-c {
	background: white;
}

/* container */
.views-container {
	width: 100%;
}

.views-container:after {
	/* Prevent wrapper from shrinking height,
	 see http://www.positioniseverything.net/easyclearing.html */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.viewer {
	float: left;
	width: 33%;
	height: 500px;
	margin-bottom: 170px;
}
.viewer .droppable {
	border: 2px solid #5A99C9;
	border-radius: 70px 70px 0 0;
	height: 100px;
	left: 36%;
	position: relative;
	top: 1px;
	width: 130px;
}
.viewer .over {
	background-color: orange;
}

.viewer .view-buttons {
	border: 2px solid #5A99C9;
	height: 46px;
	padding: 1px 10px;
}

.view-buttons .ui-slider-switch {
	width: 12em
}

.viewer .viewer-body {
	height: 100%;
	border: 2px solid #5A99C9;
	overflow: auto;
}

/* clouds */
.draggable-container {
	clear: both;
	height: 105px;
	width: 100%;
}

div.draggable {
	float: left;
	display: inline;
	z-index: 10;
}
div.draggable svg {
	height: 100px;
	width: 120px;
}

/*
 svg {
 border: 2px solid red;
 } */

g.button rect {
	fill: steelblue;
	stroke: black;
}

g text {
	font-size: 36px;
	font-family: Sans;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
}

g.button text {
	fill: #fff;
	fill-opacity: 1;
	stroke: none;
}

g.cloud path {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 5;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

g.under path {
	stroke: steelblue;
}

g.active path {
	stroke: orange;
}

g.button {
	visibility: hidden;
}

/* g.near g.button {

 } */

/* legenda colori */
div#legend {
	border: 1px solid #E2E4FF;
	float: right;
	padding: 0 5px;
	position: absolute;
	right: 95px;
	top: 25px;
	width: 166px;
}

g.cloud path.chi {
	stroke: #5A99C9;
}

li.legend-chi {
	color: #5A99C9;
}

g.cloud path.dove {
	stroke: #2BCB7E;
}

li.legend-dove {
	color: #2BCB7E;
}

g.cloud path.cosa {
	stroke: #FF7F0E;
}

li.legend-cosa {
	color: #FF7F0E;
}

g.cloud path.quando {
	stroke: #DAA520;
}

li.legend-quando {
	color: #DAA520;
}

