svg {
	border: 2px solid red;
}

#popup {
	position: absolute;
	z-index: 10;
	visibility: hidden;
}

g.button rect {
	fill: steelblue;
	stroke: black;
}

g text {
	font-size: 36px;
	font-family: Sans;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
}

g.button text {
	fill: #fff;
	fill-opacity: 1;
	stroke: none;
}

g.cloud path {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 10;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

g.near path {
	stroke: steelblue;
}

g.active path {
	stroke: orange;
}

g.button {
	visibility: hidden;
}

g.near g.button {
		
}

