
/* container */
#views-container {
	width: 100%;
}

#views-container:after {
	/* Prevent wrapper from shrinking height,
	 see http://www.positioniseverything.net/easyclearing.html */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.view-container {
	float: left;
	width: 33%;
	height: 500px;
}
.view-container .droppable {
	border: 2px solid red;
	border-radius: 70px 70px 0 0;
	height: 100px;
	left: 38%;
	position: relative;
	top: 1px;
	width: 130px;
}
.view-container .over {
	background-color: orange;
}
.view-container .view-buttons {
	border: 2px solid red;
}

.view-container .view-buttons form div {
	display: inline;
}

.view-container .view-container-body {
	height: 100%;
	border: 2px solid red;
	overflow: auto;
}


/* clouds */
.draggable-container {
	clear: both;
	height: 125px;
	width: 100%;
}

div.draggable {
	float: left;
	display: inline;
	z-index: 10;
}
div.draggable svg {
	height: 100px;
	width: 120px;
}

/*
svg {
	border: 2px solid red;
} */

g.button rect {
	fill: steelblue;
	stroke: black;
}

g text {
	font-size: 36px;
	font-family: Sans;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0;
}

g.button text {
	fill: #fff;
	fill-opacity: 1;
	stroke: none;
}

g.cloud path {
	opacity: 1;
	fill: #ffffff;
	fill-opacity: 1;
	stroke: #000000;
	stroke-width: 5;
	stroke-linecap: butt;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
	stroke-dashoffset: 0;
	stroke-opacity: 1;
}

g.under path {
	stroke: steelblue;
}

g.active path {
	stroke: orange;
}

g.button {
	visibility: hidden;
}

g.near g.button {

}

