g.node circle.node-shape {
	fill: orange;
	stroke: steelblue;
	stroke-width: 2px;
}


body {
	font-family: Verdana, sans-serif;
	background-color: #EEE;
}

h1 {
	font-size: 1.4em;
	display: inline-block;
	margin-right: 20px;
}

.menu {
	display: inline-block;
}

.container {
	float: left;
	margin: 5px;
	width: 400px;
}

.chart {
	border: 1px solid #999;
	width: 800px;
	height: 400px;
	position: relative;
	background-color: #FFF;
}

.chart>.description {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

.description {
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	padding: 5px;
}